{template 'common/header-meepo'}
{template 'web/template/navs'}
<style>
.editable-click, a.editable-click {
    color: #000 !important;
    border-bottom:none !important;
    text-decoration: none;
}
.editable-input.editable-has-buttons {
    width: auto;
    max-width: 100px;
}
</style>
<div class="panel panel-default" ng-app="app" ng-controller="rootCtrl">
	<div class="panel-heading">
		首页幻灯片管理
	</div>
	<div class="panel-body">
		<table st-table="items" class="table table-striped">
			<thead>
				<tr>
					<th style="width:50px;">幻灯编号</th>
					<th style="width:200px;">幻灯名称</th>
					<th style="width:80px;">幻灯图片(高度为150px;)</th>
					<th style="width:200px;">幻灯链接(外联请加http://)</th>
					<th style="width:80px;">状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>
						{{item.id}}
					</td>
					<td>
						<a href="#" editable-text="item.title" onbeforesave="updatetitle(item,$data)">{{ item.title || "empty" }}</a>
					</td>
					<td>
						<img ng-click="picker(item)" ng-click="picker(item)" ng-src="{{item.image || '../addons/imeepos_runner/icon.jpg'}}" style="width:50px;height:50px;"/>
					</td>
					<td class="form-inline">
						<input type="text" style="max-width:120px;" class="form-control" ng-model="item.link"/>
						<button class="btn btn-default" ng-click="selectLink(item)">选取</button>
					</td>
					<td>
						<label for="" ng-click="status(item)" class="label {{item.status_label}}">{{item.statustitle}}</label>
					</td>
					<td>
						<a class="btn btn-default" ng-mouseenter="tooltip()" data-toggle="tooltip" data-placement="top" title="删除表单" href="#" ng-click="delete(item.id,$index)">
							<i class="fa fa-times"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<button type="button" ng-click="addRandomItem()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus"></i>新增
		</button>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{MODULE_URL}/public/libs/angular-xeditable/dist/css/xeditable.css"/>
<script src="{MODULE_URL}public/libs/angular.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/public/libs/smart-table.js"></script>
<script type="text/javascript" src="{MODULE_URL}/public/libs/angular-xeditable/dist/js/xeditable.js"></script>
<script>
	var app = angular.module('app',['xeditable','smart-table']);
	app.run(function(editableOptions) {
		editableOptions.theme = 'bs3';
	});
	app.controller('rootCtrl',function($scope,$http,$filter){
		$scope.items = {php echo json_encode($list)};
		var addurl = "{php echo $this->createWebUrl('adv_template',array('act'=>'add','id'=>$id))}";
		var deleteurl = "{php echo $this->createWebUrl('adv_template',array('act'=>'delete','id'=>$id))}";
		$scope.addRandomItem = function(){
			var row = {
				title:'广告标题',
				image:'',
				link: '',
				status:1
			}
			$http.post(addurl,row).success(function(data){
				$scope.items = $scope.items.concat(data.data);
			});
		}
		
		$scope.delete = function(id,start){
			var truthBeTold = window.confirm("您确定要删除此幻灯么，单击“确定”继续。单击“取消”停止。");
			if(truthBeTold){
				$http.get(deleteurl+'&fid='+id).success(function(data){
					$scope.items.splice(start,1);
				});
			}
		}
		
		$scope.picker = function(e){
			require(['jquery', 'util'], function($, util) {
				util.image('', function(data) {
					e.image = data['url'];
					$http.post(addurl,e).success(function(data){});
				});
			});
		}
		
		$scope.selectLink = function(e){
			require(['jquery', 'util'], function($, util) {
				util.linkBrowser(function(data) {
					e.link = data;
					$http.post(addurl,e).success(function(data){});
				});
			});
		}
		
		$scope.status = function(e){
			if(e.status == 0){
				e.status = 1;
				e.statustitle = '开启';
				e.status_label = 'label-info';
			}else{
				e.status = 0;
				e.statustitle = '禁止';
				e.status_label = 'label-danger';
			}
			$http.post(addurl,e).success(function(data){});
		}
		
		$scope.updatetitle = function(e,data){
			e.title = data;
			$http.post(addurl,e).success(function(data){});
		}
	});
</script>
{template 'common/footer'}