<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta charset="utf-8">
<link rel="stylesheet" href="{MODULE_URL}resource/css/style.css" />
<script type="text/javascript" src="{MODULE_URL}resource/js/jquery-2.1.4.min.js" ></script>
<title>端午节赛龙舟</title>
</head>
<body>
<div class="over" style="width:100%;height:100%; background:#079944;"><img src="{MODULE_URL}resource/images/over.jpg" style="width:100%;"></div>
</body>
</html>
