{template 'common/header'}
{template 'web/task/navs'}
<div class="panel panel-default">
    <div class="panel-heading">编辑评价</div>
    <div class="panel-body">
        <form action="" method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">星星个数</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="star" placeholder="" value="{$item['star']}" class="form-control"/>
                    <span class="help-block">最多6个</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">评价内容</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <textarea name="content"  class="form-control" id="" cols="30" rows="10">{$item['content']}</textarea>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
                    <input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </form>
    </div>
</div>
{template 'common/footer'}